<!DOCTYPE html>
<html>
<body>

<h1>Sign Up</h1>

<form action="submit.html">
  #if( $errors.size() > 0 )
  <div id="errors" class="error_messages">
    <h2>Form is invalid</h2>
    <ul>
        #foreach( $message in $errors )
        <li>$message</li>
        #end
    </ul>
  </div>
  #end
  <p>
    <label for="email">$email.label</label><br/>
    <input type="text" value="$email.value"/><br/>
  </p>
  <p>
    <label for="password">$password.label</label><br/>
    <input type="password" value="$password.value"/><br/>
  </p>
  <p class="button"><input type="submit" value="Create User" /></p>
</form>

</body>
</html>